.easytabs {
    &__nav {
        background: #249e49;

        li {
            display: inline-block;
            padding: 14px 0;
            position: relative;

            &.selected {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -8px;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0 8px 8px;
                    border-bottom-color: #f0f0f0;
                }
            }

            a {
                font-weight: 600;
                text-transform: uppercase;
                display: block;
                color: #fff;
                border: 1px solid transparent;
                border-radius: 20px;
                padding: 6px 12px;
                transition: background .2s ease-in-out,
                            border-color .2s ease-in-out;

                &:hover {
                    background: rgba(#000, .1);
                }

                &.selected {
                    border-color: #fff;
                }
            }
        }
    }
}
