.easytabs {
    &__nav {
        background: #002e4f;
        background: linear-gradient(to bottom, #023f6b 0%,#002e4f 77%,#022b4b 100%);

        @include clearfix;

        li {
            float: left;
            display: block;
            padding:0;
            position: relative;
            width: 25%;

            &:first-child a {
                border-left: none;
            }

            &:last-child a {
                border-right: none;
            }

            a {
                font-weight: 400;
                text-transform: none;
                display: block;
                color: #0187d0;
                border: 1px solid transparent;
                padding: 15px 12px;
                transition: background .2s ease-in-out,
                            border-color .2s ease-in-out;

                &:hover {
                    background: rgba(#000, .1);
                }

                &.selected {
                    background: linear-gradient(to bottom, #00a7de 0%,#008dd5 100%);
                    text-shadow: 1px 1px 0px #01669C;
                    color: #fff;

                    &:before { 
                        border: none;
                    }
                }
            }
        }

        li + li {

            &:before {
                content: '';
                border-right: 1px solid #002a4a;
                border-left: 1px solid #001a2b;
                position: absolute;
                top: 0;
                left: -1px;
                width: 0px;
                height: 100%;
            }
        }
    }
}
