.gonfalon {
    position: absolute;
    top: 0;
    left: 50%;
    text-transform: none;
    display: inline-block;
    color: #fff;
    background: rgba(#000, .2);
    box-shadow: 
        inset 10px 0 5px -2px rgba(0,0,0,0.25),
        inset -10px 0 5px -2px rgba(0,0,0,0.25);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1px;
    border-radius: 3px;
    line-height: 28px;
    padding: 0 12px;
    z-index: 20;
    @include ellipsis;
    transform: translate3d(-50%,-50%,0);

    &:before,
    &:after {
        content: '';
        background: #cb221b; 
        position: absolute;
        width: 6px;
        height: 100%;
    }

    &:before {
        background: linear-gradient(to right, #dd524f 0%,#d02825 100%);
        left: 0;
    }

    &:after {
        background: linear-gradient(to right, #d02825 0%,#dd524f 100%);
        right: 0;
    }

    &--profitable {
        background: #cb221b;
    }

    &--popular {
        background: #c37d25;
    }

    &--own {
        background: #0070aa;

        &:before {
            background: linear-gradient(to right, #0091ca 0%,#0076b0 100%);
        }

        &:after {
            background: linear-gradient(to right, #0076b0 0%,#0091ca 100%);
        }
    }
}
