.modal {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0 auto 40px;
    border-radius: 4px;
    overflow: hidden;

    &--cashbox {
        max-width: 684px;
    }

    &__close {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 100;
        width: 40px;
        height: 40px;
        color: #fff;
        border-radius: 4px;
        transition: background .2s ease-in-out;

        &:hover {
            background: rgba(#000, .1);
        }

        .icon-close {
            font-size: 24px;
            display: block;
        }
    }

    &__header {
        font-size: 20px;
        padding: 0 55px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid rgba(#000, .1);
        box-sizing: border-box;
        background: #249e49;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;

        [class^="icon-"] {
            font-size: 24px;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    }

    &__body {
        background: #f0f0f0;
    }

    &__footer {
        padding: 8px 10px;
    }
}
