.gonfalon {
    position: absolute;
    top: 0;
    left: 50%;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    background: #091e33;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1.1px;
    border-radius: 3px;
    line-height: 22px;
    padding: 0 10px;
    z-index: 20;
    @include ellipsis;
    transform: translate3d(-50%,-50%,0);

    &--profitable {
        border: 1px solid #ffbf1f;
        color: #ffbf1f;
    }

    &--popular {
        background: #c37d25;
    }

    &--own {
        border: 1px solid #3773a5;
        color: #fff;
    }
}
