.modal {
    position: relative;
    background: #f08192b;
    border: 1px solid #133260;
    width: 100%;
    margin: 0 auto 40px;
    border-radius: 4px;
    overflow: hidden;

    &--cashbox {
        max-width: 684px;
    }

    &__close {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 100;
        width: 50px;
        height: 50px;
        color: #0c8fd7;
        border-radius: 4px;
        transition: background .2s ease-in-out;

        &:before {
            content: '';
            border-right: 1px solid #1a3965;
            border-left: 1px solid #08192b;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        &:hover {
            background: rgba(#000, .1);
        }

        .icon-close {
            font-size: 24px;
            font-weight: 400;
            display: block;
            border: 2px solid #123360;
            border-radius: 50%;
            margin: auto;
            width: 25px;
            height: 25px;
            line-height: 25px;
        }
    }

    &__header {
        font-size: 20px;
        padding: 0 55px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #0e3650;
        box-sizing: border-box;
        background: #071e30;
        background: linear-gradient(to bottom, #0d436f 0%,#071e30 100%);
        color: #ffbc01;
        text-transform: none;
        font-weight: 500;
        position: relative;

        [class^="icon-"] {
            font-size: 24px;
            margin-right: 5px;
            position: relative;
            top: 3px;
            display: none;
        }
    }

    &__body {
        background: #08192b;
    }

    &__footer {
        background: linear-gradient(to right, #071a2b 1%,#0e2d4a 50%,#071a2b 100%);
        padding: 8px 10px;
        color: #fff;
    }
}
