.singletab {
    &__form {
        padding: 16px 20px;
        text-align: left;
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
            border: none;
        }
    }

    &__container {
        max-width: 456px;
        margin: 0 auto;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }

    &__subtitle {
        font-family: 'PT Serif';
        font-style: italic;
        margin-bottom: 16px;
        text-align: center;
    }
}
