.easytabs {
    &__nav {
        background: #4489cc;

        @include clearfix;

        li {
            float: left;
            display: block;
            padding:0;
            position: relative;
            width: 25%;

            a {
                font-weight: 600;
                text-transform: none;
                text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2);
                display: block;
                color: #1c5185;
                border: 1px solid transparent;
                padding:12px;
                transition: background .2s ease-in-out,
                            border-color .2s ease-in-out;

                &:hover {
                    background: rgba(#000, .1);
                }

                &.selected {
                    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.85);
                    color: #fff;
                }
            }
        }

        li + li {

            &:before {
                content: '';
                background: linear-gradient(to bottom, 
                    #4489cc 12%,
                    #5db1df 51%,
                    #4489cc 89%);
                position: absolute;
                top: 0;
                left: -1px;
                width: 1px;
                height: 100%;
            }
        }
    }
}
