.modal {
    position: relative;
    background: #000c34;
    width: 100%;
    margin: 40px auto 40px;
    padding: 50px 60px;
    border-radius: 10px;
    border: 3px solid #f7cf5d;
    // overflow: hidden;

    &--cashbox {
        max-width: 684px;
    }

    &__close {
        position: absolute;
        top: -8px;
        right: -50px;
        z-index: 100;
        width: 40px;
        height: 40px;
        color: #f7d05b;
        border-radius: 4px;
        transition: background .2s ease-in-out;

        &:hover {
            background: rgba(#000, .1);
        }

        .icon-close {
            font-size: 24px;
            font-weight: 700;
            display: block;
            border: 3px solid;
            border-radius: 50%;
            width: 27px;
            height: 27px;
            line-height: 27px;
        }
    }

    &__header {
        font-size: 26px;
        font-style: italic;
        padding: 0 55px;
        margin-top: -75px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #4976b7;
        box-sizing: border-box;
        background: #000c34;
        color: #e9ba44;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        background: -webkit-linear-gradient(#f4cd4e, #e3aa39);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        [class^="icon-"] {
            font-size: 24px;
            margin-right: 5px;
            position: relative;
            top: 3px;
            display: none;
        }

        &:before {
            content: '';
            background: #000c34;
            display: block;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            width: 150px;
            height: 80px;
            z-index: -1;
        }
    }

    &__body {
        background: #1b5082;
        border-left: 1px solid #4976b7;
        border-right: 1px solid #4976b7;
    }

    &__footer {
        background: #1b5082;
        border-bottom: 1px solid #4976b7;
        border-left: 1px solid #4976b7;
        border-right: 1px solid #4976b7;
        padding: 8px 10px;
    }
}
