<form class="singletab__form">
    <div class="singletab__container">

        <div class="singletab__title">Обменять Баллы на Fun</div>
        <div class="singletab__subtitle">Доступно 145 баллов</div>

        <div class="exchange__item exchange__item--noradio">
            <input class="exchange__input-radio" type="radio" name="cp2fun" id="cp2fun-2" value="true">
            <label class="exchange__label" for="cp2fun-2">
                <div class="exchange__left">
                    <div class="exchange__row-ellipsis">
                        <input type="number" value="1700" class="exchange__input-text js-cp2fun-cp">
                        <span class="exchange__currency">баллов</span>
                    </div>
                </div>
                <div class="exchange__right">
                    <div class="exchange__row-ellipsis">
                        <input type="number" class="exchange__input-text js-cp2fun-fun">
                        <span class="exchange__currency">fun</span>
                    </div>
                </div>
            </label>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="exchange__row-ellipsis">
                    <span class="exchange__subnumber">Вы получите:</span>
                </div>
                <div class="exchange__row-ellipsis">
                    <span class="exchange__number js-cp2fun-result"></span>
                    <span class="exchange__currency">fun</span>
                </div>
            </div>
            <div class="col-6 text-right">
                <button type="submit" class="btn btn--success"><span class="icon-cached"></span> Обменять на Fun</button>
            </div>
        </div>
    </div>
</form>
