<form class="singletab__form">
    <div class="singletab__container">

        <div class="singletab__title">Обменять Рубли на Fun</div>
        <div class="singletab__subtitle">Доступно 145 654 руб</div>

        {% for item in site.data.rub2fun %}
        <div class="exchange__item">
            <input class="exchange__input-radio" type="radio" name="rub2fun" id="{{ item.id }}" value="{{ item.number1 }}" {% if item.checked == true %}checked{% endif %}>
            <label class="exchange__label" for="{{ item.id }}">
                <div class="exchange__left">
                    <div class="exchange__row-ellipsis">
                        <span class="icon-radio-checked"></span>
                        <span class="icon-radio-unchecked"></span>
                        <span class="exchange__number">{{ item.number1 }}</span>
                        <span class="exchange__currency">{{ item.currency1 }}</span>
                    </div>
                </div>
                <div class="exchange__right">
                    <div class="exchange__row-ellipsis">
                        <span class="exchange__number">{{ item.number2 }}</span>
                        <span class="exchange__currency">{{ item.currency2 }}</span>
                    </div>
                    <div class="exchange__row-ellipsis">
                        <span class="exchange__subnumber">{{ item.number3 }}</span>
                        <span class="exchange__subcurrency">{{ item.currency3 }}</span>
                    </div>
                </div>
                {% if item.profitable == true %}
                <div class="gonfalon gonfalon--profitable">Самый выгодный пакет</div>
                {% endif %}
                {% if item.popular == true %}
                <div class="gonfalon gonfalon--popular">Самый популярный пакет</div>
                {% endif %}
            </label>
        </div>
        {% endfor %}

        <div class="exchange__item">
            <input class="exchange__input-radio" type="radio" name="rub2fun" id="rub2fun-own" value="true">
            <label class="exchange__label" for="rub2fun-own">
                <div class="exchange__left">
                    <div class="exchange__row-ellipsis">
                        <span class="icon-radio-checked"></span>
                        <span class="icon-radio-unchecked"></span>
                        <input type="number" value="1200" class="exchange__input-text js-rub2fun-rub">
                        <span class="exchange__currency">руб</span>
                    </div>
                </div>
                <div class="exchange__right">
                    <div class="exchange__row-ellipsis">
                        <input type="number" class="exchange__input-text js-rub2fun-fun">
                        <span class="exchange__currency">fun</span>
                        <span class="exchange__subnumber">+ 120 000</span>
                        <span class="exchange__subcurrency">fun</span>
                    </div>
                </div>
            </label>
            <div class="gonfalon gonfalon--own">Собственная сумма</div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="exchange__row-ellipsis">
                    <span class="exchange__subnumber">Ваш бонус:</span>
                </div>
                <div class="exchange__row-ellipsis">
                    <span class="exchange__number js-rub2fun-result"></span>
                    <span class="exchange__currency">Fun</span>
                </div>
            </div>
            <div class="col-3">
                <div class="exchange__row-ellipsis">
                    <span class="exchange__subnumber">Вы получите:</span>
                </div>
                <div class="exchange__row-ellipsis">
                    <span class="exchange__number">+ 120 000</span>
                    <span class="exchange__currency">Fun</span>
                </div>
            </div>
            <div class="col-6 text-right">
                <button type="submit" class="btn btn--success"><span class="icon-cached"></span> Обменять Рубли</button>
            </div>
        </div>

    </div>
</form>
