<div data-remodal-id="cashbox" class="modal modal--cashbox js-remodal">

    <div class="modal__header">
        <span class="icon-wallet"></span> Касса
        <button data-remodal-action="close" class="remodal-close"><span class="icon-close"></span></button>
    </div>

    <div class="modal__body">

        <div class="easytabs js-easytabs">

            <ul class="easytabs__nav">
                <li><a href="#refill">Пополнить</a></li>
                <li><a href="#withdraw">Снять</a></li>
                <li><a href="#fun">Fun</a></li>
                <li><a href="#comppoints">Баллы</a></li>
            </ul>

            <div id="refill" class="singletab">
                <img src="{{ site.baseurl }}/assets/img/cashbox/vu3-payment-method.png" alt="Payment Method">
            </div>

            <div id="withdraw" class="singletab">
                <img src="{{ site.baseurl }}/assets/img/cashbox/vu3-payment-method.png" alt="Payment Method">
            </div>

            <div id="fun" class="singletab">
                <form>
                    <div class="singletab__title">Обменять Рубли на Fun</div>
                    <div class="singletab__subtitle">Доступно 145 654 руб</div>

                    <div class="row">
                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="exchange__1">
                            <label class="exchange__label" for="exchange__1">
                                <span>250 <i>руб</i></span>
                                <span>160 000 <i>fun</i></span>
                            </label>
                        </div>

                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="exchange__2">
                            <label class="exchange__label" for="exchange__2">
                                <span>500 <i>руб</i></span>
                                <span>320 000 <i>fun</i></span>
                                <span>+ 30 000 <i>fun</i></span>
                            </label>
                        </div>

                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="exchange__3">
                            <label class="exchange__label" for="exchange__3">
                                <span>1 000 <i>руб</i></span>
                                <span>640 000 <i>fun</i></span>
                                <span>+ 60 000 <i>fun</i></span>
                            </label>
                        </div>

                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="exchange__4">
                            <label class="exchange__label" for="exchange__4">
                                <span>5 000 <i>руб</i></span>
                                <span>1 220 000 <i>fun</i></span>
                                <span>+ 120 000 <i>fun</i></span>
                            </label>
                        </div>

                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="exchange__5">
                            <label class="exchange__label" for="exchange__5">
                                <span>10 000 <i>руб</i></span>
                                <span>2 540 000 <i>fun</i></span>
                                <span>+ 120 000 <i>fun</i></span>
                            </label>
                        </div>

                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="exchange__6">
                            <label class="exchange__label" for="exchange__6">
                                <span>Самый выгодный пакет</span>
                                <span>20 000 <i>руб</i></span>
                                <span>3 140 000 <i>fun</i></span>
                                <span>+ 200 000 <i>fun</i></span>
                            </label>
                        </div>
                    </div>

                    <div class="exchange__item exchange__item--own">
                        <input class="exchange__input" type="radio" name="exchange" id="exchange__7">
                        <label class="exchange__label" for="exchange__7">
                            <input type="text" value="50 000">
                            <span><i>руб</i></span>
                            <input type="text" value="105 567 000">
                            <span> <i>fun</i></span>
                            <span>+ 120 000 <i>fun</i></span>
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div>Бонус:</div>
                            <div>+ 120 00 <i>Fun</i></div>
                        </div>
                        <div class="col-3">
                            <div>Вы получите:</div>
                            <div>45 400 <i>Fun</i></div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="javasctipt:void(0)" class="btn btn--success"><span class="icon-cached"></span> Обменять Рубли</a>
                        </div>
                    </div>

                    <div class="singletab__title">Обменять Баллы на Fun</div>
                    <div class="singletab__subtitle">Доступно 145 баллов</div>

                    <div class="exchange__item exchange__item--own">
                        <label class="exchange__label">
                            <input type="text" value="145">
                            <span><i>баллов</i></span>
                            <input type="text" value="45 400">
                            <span><i>fun</i></span>
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div>Вы получите:</div>
                            <div>45 400 <i>Fun</i></div>
                        </div>
                        <div class="col-3">
                            &nbsp;
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn--success"><span class="icon-cached"></span> Обменять Баллы</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="comppoints" class="singletab">
                <div class="singletab__title">Обменять Баллы на Рубли</div>
                <div class="singletab__subtitle">Доступно 145 баллов. Ваш курс обмена 1:35</div>

                <div class="row">
                    <div class="col-3">
                        <div>Вы получите:</div>
                        <div>45 400 <i>Fun</i></div>
                    </div>
                    <div class="col-3">
                        &nbsp;
                    </div>
                    <div class="col-6 text-right">
                        <a href="javasctipt:void(0)" class="btn btn--success"><span class="icon-cached"></span> Обменять на Рубли</a>
                    </div>
                </div>

                <div class="singletab__title">Обменять Баллы на Fun</div>
                <div class="singletab__subtitle">Доступно 145 баллов</div>

                <div class="row">
                    <div class="col-3">
                        <div>Вы получите:</div>
                        <div>45 400 <i>Fun</i></div>
                    </div>
                    <div class="col-3">
                        &nbsp;
                    </div>
                    <div class="col-6 text-right">
                        <a href="javasctipt:void(0)" class="btn btn--success"><span class="icon-cached"></span> Обменять на Fun</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal__footer">
        <a href="#">История операций <span class="icon-chevron-right"></span></a>
    </div>

</div>
