<form class="singletab__form">
    <div class="singletab__container">

        <div class="singletab__title">Обменять Баллы на Рубли</div>
        <div class="singletab__subtitle">Доступно: {{ site.data.userData.userCpBalanse }} баллов. Ваш курс обмена 1:{{ site.data.userData.coefficientRub2Fun }}</div>

        {% for item in site.data.cp2rub %}
        <div class="exchange__item">
            <input class="exchange__input-radio" type="radio" name="cp2rub" id="{{ item.id }}" value="{{ item.number1 }}" {% if item.checked == true %}checked{% endif %}>
            <label class="exchange__label" for="{{ item.id }}">
                <div class="exchange__left">
                    <div class="exchange__row-ellipsis">
                        <span class="icon-radio-checked"></span>
                        <span class="icon-radio-unchecked"></span>
                        <span class="exchange__number">{{ item.number1 }}</span>
                        <span class="exchange__currency">{{ item.currency1 }}</span>
                    </div>
                </div>
                <div class="exchange__right">
                    <div class="exchange__row-ellipsis">
                        <span class="exchange__number">{{ item.number2 }}</span>
                        <span class="exchange__currency">{{ item.currency2 }}</span>
                    </div>
                </div>
                {% if item.profitable == true %}
                <div class="gonfalon gonfalon--profitable">Самый выгодный пакет</div>
                {% endif %}
            </label>
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-3">
                <div class="exchange__row-ellipsis">
                    <span class="exchange__subnumber">Вы получите:</span>
                </div>
                <div class="exchange__row-ellipsis">
                    <span class="exchange__number js-cp2rub-result">30 000</span>
                    <span class="exchange__currency">руб</span>
                </div>
            </div>
            <div class="col-3">
                &nbsp;
            </div>
            <div class="col-6 text-right">
                <button type="submit" class="btn btn--success"><span class="icon-cached"></span> Обменять на Рубли</button>
            </div>
        </div>

    </div>
</form>
