<div data-remodal-id="cashbox" class="modal modal--cashbox js-remodal">

    <div class="modal__header">
        <span class="icon-wallet"></span> Касса
        <button data-remodal-action="close" class="remodal-close"><span class="icon-close"></span></button>
    </div>

    <div class="modal__body">

        <div class="easytabs js-easytabs">

            <ul class="easytabs__nav">
                <li><a href="#refill">Пополнить</a></li>
                <li><a href="#withdraw">Снять</a></li>
                <li><a href="#fun">Fun</a></li>
                <li><a href="#comppoints">Баллы</a></li>
            </ul>

            <div id="refill" class="singletab">
                <img src="{{ site.baseurl }}/assets/img/cashbox/vu3-payment-method.png" alt="Payment Method">
            </div>

            <div id="withdraw" class="singletab">
                <img src="{{ site.baseurl }}/assets/img/cashbox/vu3-payment-method.png" alt="Payment Method">
            </div>

            <div id="fun" class="singletab">
                <form>
                    <div class="singletab__title">Обменять Рубли на Fun</div>
                    <div class="singletab__subtitle">Доступно 145 654 руб</div>

                    <div class="row">
                        {% for item in site.exchange1 %}
                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="{{ item.id }}">
                            <label class="exchange__label" for="{{ item.id }}">
                                <div class="exchange__left">
                                    <div>
                                        <span class="exchange__number">{{ item.number1 }}</span>
                                        <span class="exchange__currency">{{ item.currency1 }}</span>
                                    </div>
                                </div>
                                <div class="exchange__right">
                                    <div>
                                        <span class="exchange__number">{{ item.number2 }}</span>
                                        <span class="exchange__currency">{{ item.currency2 }}</span>
                                    </div>
                                    <div>
                                        <span class="exchange__subnumber">{{ item.number3 }}</span>
                                        <span class="exchange__subcurrency">{{ item.currency2 }}</span>
                                    </div>
                                </div>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="exchange__item exchange__item--own">
                        <input class="exchange__input" type="radio" name="exchange" id="exchange__7">
                        <label class="exchange__label" for="exchange__7">
                            <input type="text" value="50 000">
                            <span><i>руб</i></span>
                            <input type="text" value="105 567 000">
                            <span> <i>fun</i></span>
                            <span>+ 120 000 <i>fun</i></span>
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div>Бонус:</div>
                            <div>+ 120 00 <i>Fun</i></div>
                        </div>
                        <div class="col-3">
                            <div>Вы получите:</div>
                            <div>45 400 <i>Fun</i></div>
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn--success"><span class="icon-cached"></span> Обменять Рубли</button>
                        </div>
                    </div>

                    <div class="singletab__title">Обменять Баллы на Fun</div>
                    <div class="singletab__subtitle">Доступно 145 баллов</div>

                    <div class="exchange__item exchange__item--own">
                        <label class="exchange__label">
                            <input type="text" value="145">
                            <span><i>баллов</i></span>
                            <input type="text" value="45 400">
                            <span><i>fun</i></span>
                        </label>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div>Вы получите:</div>
                            <div>45 400 <i>Fun</i></div>
                        </div>
                        <div class="col-3">
                            &nbsp;
                        </div>
                        <div class="col-6 text-right">
                            <button type="submit" class="btn btn--success"><span class="icon-cached"></span> Обменять Баллы</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="comppoints" class="singletab">
                <form>
                    <div class="singletab__title">Обменять Баллы на Рубли</div>
                    <div class="singletab__subtitle">Доступно 145 баллов. Ваш курс обмена 1:35</div>

                    <div class="row">
                        {% for item in site.exchange2 %}
                        <div class="col-6 exchange__item">
                            <input class="exchange__input" type="radio" name="exchange" id="{{ item.id }}">
                            <label class="exchange__label" for="{{ item.id }}">
                                <div class="exchange__left">
                                    <div>
                                        <span class="exchange__number">{{ item.number1 }}</span>
                                        <span class="exchange__currency">{{ item.currency1 }}</span>
                                    </div>
                                </div>
                                <div class="exchange__right">
                                    <div>
                                        <span class="exchange__number">{{ item.number2 }}</span>
                                        <span class="exchange__currency">{{ item.currency2 }}</span>
                                    </div>
                                </div>
                            </label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div>Вы получите:</div>
                            <div>45 400 <i>Fun</i></div>
                        </div>
                        <div class="col-3">
                            &nbsp;
                        </div>
                        <div class="col-6 text-right">
                            <a href="javasctipt:void(0)" class="btn btn--success"><span class="icon-cached"></span> Обменять на Рубли</a>
                        </div>
                    </div>

                    <div class="singletab__title">Обменять Баллы на Fun</div>
                    <div class="singletab__subtitle">Доступно 145 баллов</div>

                    <div class="row">
                        <div class="col-3">
                            <div>Вы получите:</div>
                            <div>45 400 <i>Fun</i></div>
                        </div>
                        <div class="col-3">
                            &nbsp;
                        </div>
                        <div class="col-6 text-right">
                            <a href="javasctipt:void(0)" class="btn btn--success"><span class="icon-cached"></span> Обменять на Fun</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    <div class="modal__footer">
        <a href="#">История операций <span class="icon-chevron-right"></span></a>
    </div>

</div>
