// Body
$bodyBg: #ccc url(../img/bg/korona.jpg) top center;
$bodyFont: 400 14px/1.3 Helvetica, Arial, sans-serif;

// Grid
$gridIndent: 8px;

@import 'vendor/coriolan-ui/coriolan-ui';
@import 'vendor/remodal/remodal-index';

@import '_korona/vendor/remodal-vu3-theme';
@import '_korona/vendor/icomoon';

@import '_korona/buttons';
@import '_korona/fields';
@import '_korona/modal';
@import '_korona/easytabs';
@import '_korona/singletab';
@import '_korona/exchange';
@import '_korona/gonfalon';
