@import 'vendor/remodal/remodal-index';
@import 'vendor/icomoon';

// body
$bodyBg: '../img/bg/vu3.png';
$bodyFont: 'Open Sans';

@import 'coriolan-ui/coriolan-ui';

.modal {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;

    &--cashbox {
        max-width: 684px;
    }

    &__header {
        font-size: 20px;
        padding: 0 55px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid rgba(#000, .1);
        box-sizing: border-box;
        background: #249e49;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;

        [class^="icon-"] {
            font-size: 24px;
            margin-right: 5px;
            position: relative;
            top: 3px;
        }
    }

    &__body {
        background: #f0f0f0;
    }

    &__footer {
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;

        [class^="icon-"] {
            font-size: 16px;
            margin-left: 5px;
            position: relative;
            top: 2px;
        }
    }
}

.easytabs {

    &__nav {
        background: #249e49;
        text-align: center;

        li {
            display: inline-block;
            padding: 16px 0;
            position: relative;

            &.selected {
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -6px;
                    border-color: transparent;
                    border-style: solid;
                    border-width: 0 6px 6px;
                    border-bottom-color: #f0f0f0;
                }
            }

            a {
                display: block;
                color: #fff;
                border: 1px solid transparent;
                border-radius: 20px;
                padding: 6px 12px;

                &:hover {
                    background: rgba(#000, .1);
                }

                &.selected {
                    border-color: #fff;
                }
            }
        }
    }
}

.singletab {
    padding: 16px;

    &__title {
        font-weight: 600;
        font-size: 18px;
        // margin-top: 16px;
    }

    &__subtitle {
        font-family: 'PT Serif';
        font-style: italic;
        margin-bottom: 16px;
    }
}

.exchange {
    &__item {
        text-align: left;
        float: left;
        width: 50%;
        padding: 0 8px;
        box-sizing: border-box;
        margin-bottom: 16px;

        &--own {
            width: 100%;
        }
    }
    &__input[type="radio"] {
        display: none;

        &:checked + .exchange__label {
            border-color: #249e49;
        }
    }
    &__label {
        min-height: 64px;
        background: #fff;
        display: block;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 4px;
    }
}
