// Body
$bodyBg: #ccc url(../img/bg/vu3.png) top center;
$bodyFont: 400 14px/1.3 "Open Sans", Helvetica, Arial, sans-serif;

// Grid
$gridIndent: 8px;

@import 'vendor/coriolan-ui/coriolan-ui';
@import 'vendor/remodal/remodal-index';

@import '_vu3/vendor/remodal-vu3-theme';
@import '_vu3/vendor/icomoon';

@import '_vu3/modal';
@import '_vu3/easytabs';
@import '_vu3/singletab';
@import '_vu3/exchange';
@import '_vu3/gonfalon';
