// Body
$bodyBg: #ccc url(../img/bg/korona.jpg) top center;
$bodyFont: 400 14px/1.3 Helvetica, Arial, sans-serif;

// Grid
$gridIndent: 8px;

@import 'vendor/coriolan-ui/coriolan-ui';
@import 'vendor/remodal/remodal-index';

@import '_vu5/vendor/remodal-vu5-theme';
@import '_vu5/vendor/icomoon';

@import '_vu5/buttons';
@import '_vu5/fields';
@import '_vu5/modal';
@import '_vu5/easytabs';
@import '_vu5/singletab';
@import '_vu5/exchange';
@import '_vu5/gonfalon';
