---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:image" content="{{ page.og-image }}">

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.jpg">

  <style>
    body {margin:0;font-family:monospace;text-align:center;padding:40px 0;}
    nav {}
    h1 {}
    section {margin:0 auto 40px;}
    article {}
    a {text-decoration:none;}
    figure {background:#ccc;padding:10px;display:inline-block;}
    img {display:block;margin:0 auto 10px;height:auto;max-width:100%;min-width:100px;}
    figcaption {font-size:10px;}
    footer {}
  </style>

</head>
<body>

  <nav>
    <a href="/">home</a> |
    <a href="/micro/">micro</a> |
    <a href="/og-images/">og-images</a>
  </nav>

  {{ content }}

  <footer>
    Powered By
    <a href="https://ihororlovskyi.com">Ihor Orlovskyi</a>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-11291366-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>
</html>
