---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta property="og:image" content="{{ page.og-image }}">

  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-32.png">
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.jpg">

  <style>
    body {font-family:monospace;text-align:center;padding:40px 0 40px;}
    h1 {margin:0 auto 40px;}
    article {margin:0 auto 40px;}
    a {text-decoration: none;}
    figure {background:#ccc;padding:10px;display:inline-block;}
    img {display:block;margin:0 auto 10px;height:auto;max-width:250px;}
    figcaption {font-size:10px;}
    footer {}
  </style>

</head>
<body>

  {{ content }}

  <article>
    <h2>Releases:</h2>
    {% for file in site.static_files %}
      {% if file.path contains 'assets/img/releases' %}
        <a href="{{ site.baseurl }}{{ file.path }}">
          <figure>
            <img src="{{ site.baseurl }}{{ file.path }}">
            <figcaption>{{ file.name }}</figcaption>
          </figure>
        </a>
      {% endif %}
    {% endfor %}
  </article>

  <footer>
    Powered By
    <a href="https://ihororlovskyi.com">Ihor Orlovskyi</a>
  </footer>

</body>
</html>
