$mainTextColor: #424242;
$mainBackgroundColor: #eaeaea;

body {
  font: 400 14px/20px 'Roboto', sans-serif;
  color: $mainTextColor;
  background: $mainBackgroundColor;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
  color: $mainTextColor;
}

a,
button {
  display: inline-block;
  cursor: pointer;
}

img {
  // display: inline-block;
  display: block;
  max-width: 100%;
}

p {
  margin: 0 0 16px;
}

.clearfix {
  @include clearfix;
}
