$mainTextColor: #424242;
$mainBackgroundColor: #eaeaea;

body {
  font: 400 14px/1.3 'Roboto', sans-serif;
  color: $mainTextColor;
  background: $mainBackgroundColor;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
  color: $mainTextColor;
}

a,
button {
  display: inline-block;
  cursor: pointer;
}

img {
  // display: inline-block;
  display: block;
  max-width: 100%;
}

h3 {
  // font-size: 28px;
  margin: 0 0 2px;
}

p {
  margin: 0 0 16px;
}

#app {
  position: relative;
  min-width: 320px;
  max-width: 1792px;
}
