.widget1x1,
.widget2x1,
.widget3x1,
.widget3x1full {

  &:before {
    content: '';
    color: rgba(#fff, .5);
    font-size: 24px;
    // font-weight: 300;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 30px;
    // @include transform(translate3d(-100%,-60%,0));
  }
}

.widget1x1:before {
  content: '[ 1x1 ]';
}
.widget2x1:before {
  content: '[ 2x1 ]';
}
.widget3x1:before {
  content: '[ 3x1 ]';
}
.widget3x1full:before {
  content: '[ 3x1 Full ]';
}
